 .container{
    /* margin-top: 30px; */
margin-top: 30px;
background: linear-gradient(to right, #0b5a1a,  #5a8438); /* Gradient background */
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* Full viewport height */
 }
 .card {
    /* max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    max-width: 400px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    background-color: #fff;
  }
  h2 {
    /* margin-top: 16px;
    margin-bottom: 24px; */
    margin-top: 16px;
  margin-bottom: 24px;
    /* Adjust heading color */
  }
  
  form {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-primary {
    margin-top: 20px;
  }
  .form-group {
    width: 100%;
    margin-bottom: 24px;
     
    
  }
  .custom-border {
    border: 5px solid #000; /* Black border */
  }