<div class="container-fluid about">
    <h2> About Us:</h2>
    <p>SymphonyEDU is your trusted online companion for preparing for competitive exams such as JEE Main, NEET, and GATE. Our mission is to empower students with the knowledge and skills they need to excel in these crucial examinations.</p>
    <p>SymphonyEDU is more than an eLearning platform; it's a partner in your educational journey. Join us and experience the path to academic excellence.</p>
    <div class="about-banner-container">
        <img src="assets/29493.jpg" alt="Banner Image" class="about-banner" />
      </div>
</div>
