<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-links">
          <a href="#">Terms & Conditions</a>
          <a href="#">Privacy Policy</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Blog</a>
        </div>
      </div>
  
      <div class="footer-right">
        <div class="copyright">
          <p>&copy; 2023 symphonyEDU Pvt. Ltd. All rights reserved.</p>
        </div>
        <div class="social-icons">
          <a href="#" class="instagram"></a>
          <a href="#" class="linkedin"></a>
          <a href="#" class="facebook"></a>
          <a href="#" class="whatsapp"></a>
          <a href="#" class="twitter"></a>
        </div>
      </div>
    </div>
  </footer>
  
