.mt20{
    margin-top: 20px !important;
}
.ml20{
    margin-left: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.ml93{
    margin-left: 93px !important;
}
.ml55{
    margin-left: 55px !important;
}
/* .text-center{
    text-align: center;
} */
.ml50{
    margin-left: 50px !important;
}
.mr50{
    margin-right: 50px !important;
}
.instruction-card {
    width: 200px;  
}
 .bootstrap-wrapper{
    margin-top: 55px;
}
.ml15{
    margin-left: 15px;
}