<!-- complete-reset-password.component.html -->
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Complete Password Reset</h2>
                    <form (ngSubmit)="completePasswordReset()">
                        <div class="form-group">
                            <label for="token">Token:<br> </label>
                            <input [(ngModel)]="token" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" id="token">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New Password: <br> </label>
                            <input [(ngModel)]="newPassword" [ngModelOptions]="{ standalone: true }" type="password" class="form-control" id="newPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Complete Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2>Complete Password Reset</h2>
          <form (ngSubmit)="completePasswordReset()">
            <div class="form-group">
              <label for="token">Token:</label>
              <input
                [(ngModel)]="token"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                class="form-control"
                id="token"
              />
            </div>
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input
                [(ngModel)]="newPassword"
                [ngModelOptions]="{ standalone: true }"
                type="password"
                class="form-control"
                id="newPassword"
                [ngClass]="{
                  'is-invalid': newPassword && passwordStrengthError
                }"
                required
              />
              <div
                *ngIf="newPassword && passwordStrengthError"
                class="invalid-feedback"
              >
                Password must be at least 8 characters long, contain an
                uppercase letter, a lowercase letter, a number, and a special
                character.
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="passwordStrengthError"
            >
              Complete Reset
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
