<div class="bootstrap-wrapper">
  <div class="container text-center">
    <div class="row justify-content-center" style="margin-top: 30px">
      <div class="col-md-6 offset-md-3">
        <div class="form-container">
          <h2 class="text-center">Register Here</h2>
          <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
            <!-- username -->
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>User Name</mat-label>
              <input
                formControlName="username"
                matInput
                placeholder="Enter here"
              />
              <mat-hint>*(Username must be Unique)</mat-hint>
            </mat-form-field>

            <div class="row">
              <!-- Firstname -->
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input
                    formControlName="firstName"
                    matInput
                    placeholder="Enter here"
                  />
                </mat-form-field>
              </div>

              <!-- Lastname -->
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input
                    formControlName="lastName"
                    matInput
                    placeholder="Enter here"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Phone no -->
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Mobile no.</mat-label>
                  <input
                    formControlName="phone"
                    matInput
                    placeholder="Enter here"
                  />
                </mat-form-field>
              </div>

              <!-- Password -->
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input
                    formControlName="password"
                    matInput
                    placeholder="*(At least 8 , One Upper and Lower and Numeric and Special
                    character)"
                  />

                  <!-- <div>
                    <mat-hint
                    >*(At least 8 , One Upper and Lower and Numeric and Special
                    character)</mat-hint
                  >
                   </div> -->
                </mat-form-field>
              </div>
            </div>

            <!-- Email -->
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="Enter here"
              />
            </mat-form-field>

            <div class="container2 text-center">
              <button
                type="submit"
                mat-raised-button
                color="accent"
                [disabled]="signUpForm.invalid"
              >
                Submit
              </button>
              <button
                style="margin-left: 10px"
                mat-raised-button
                color="primary"
                (click)="resetForm()"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
