 /* CSS styles for the form container */
.container1 {
  /* max-width: 500px; */
  width: 200px;
  height: 200px;
  /* margin-top: 140px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
  /* width: 100px;
  height: 100px;
  background-color: #247227;
  clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; */
}
.container{
  max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 140px;
    margin-left: 20px;
    margin-right: 20px;
}
.container2{
  margin-top: 40px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
   width: 100%;
   height: auto;
   margin-bottom: 20px;
}
 
/* CSS styles for the logo */
.logo-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 12px solid green;
  margin: 0 auto;
  display: block;
}

/* Center the form vertically and horizontally */
.bootstrap-wrapper {
  margin-top: 10px;
  background: linear-gradient(to right, #0b5a1a,  #5a8438); /* Gradient background */
  display: flex ;
  justify-content: center;
  align-items: center;
  height: auto; /* Full viewport height */
  width: 100%;
  
}

/* CSS styles for the form fields and buttons */
.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.mat-raised-button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 12px 40px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.mat-raised-button:hover {
  background-color: #2c387e;
}

/* CSS styles for error and success messages */
.mat-form-field mat-hint {
  color: #185f32;
  font-size: 12px;
}

.mat-form-field .mat-hint.mat-success {
  color: #4caf50;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 600px) {
  .container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .logo-img {
    width: 120px; /* Adjust logo size for smaller screens */
    height: 120px;
    border-width: 8px; /* Adjust border width for smaller screens */
  }

  .mat-raised-button {
    margin-top: 15px; /* Adjust button margin for smaller screens */
    margin-right: 5px; /* Adjust button margin for smaller screens */
    padding: 10px 30px; /* Adjust button padding for smaller screens */
    font-size: 14px; /* Adjust button font size for smaller screens */
  }
}
