<mat-card>
    <h1>ALL CATEGORIES</h1>
    <mat-list>
       
      <ng-container *ngFor="let c of categories">
        <mat-list-item>
          <div mat-line>
            <mat-icon mat-list-icon>category</mat-icon>
            {{ c.title }}
          </div>
          <div mat-line>{{ c.description }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>

    <div class="container text-center mt20 mb20">
        <button routerLink="/admin/add-category" mat-raised-button  >Add New Category</button>
    </div>
  </mat-card>